{% extends 'master.html' %}
{% block tittle %} Conócenos {% endblock %}
{% load staticfiles %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/contenidos.css' %}">
{% endblock %}
{% block content1 %}
<br><br><br><br><br>
<center>
    <div>
        <h1>Conócenos</h1><br>
        <nav class="navbar navbar-expand navbar-light bg-light " style="width: 80%">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-3 mt-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link" href="#1">¿Quiénes somos?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#2">Misión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#3">Visión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#4">Acerca de nosotros</a>
                    </li>

                </ul>

            </div>
        </nav>
        <div class="Bloque1 text-justify " style="width: 80%">

            {% for cont in list_contenido %}
            {% if cont.TipoContenido == 'conocenos' %}
            {% if cont.TipoSeccion == 'Bloque_1' %}
            <hr>
            <br>
            <h2>{{ cont.TituloContenido }}</h2><br>
            {% if cont.SubiTituloContenido == subtitulo %}

            {% else %}
            <h5>{{ cont.SubiTituloContenido }}</h5>
            {% endif %}
            <p><a name="{{ cont.Posiciones }}" id="{{ cont.Posiciones }}"></a> {{ cont.texto|safe }}</p>


            {% if user.is_superuser %}
            <div class="col-sm-12">
                <a id="data2-{{ cont.idGestorContenidos}}" class="btn btn-outline-warning"
                   href="{% url 'Contenido_edit' id=cont.idGestorContenidos %}" style="text-decoration: none;">Editar
                    contenido</a>
                <a class="btn btn-outline-danger" href="{% url 'EliminarContenido' id=cont.idGestorContenidos %}">Eliminar
                    contenido</a>
            </div>
            {% endif %}
            <br>
            {% endif %}
            {% endif %}
            {% endfor %}
            <hr>
        </div>
        <br>
        <div id="Bloque2-container">

            <h1><a name="4" id="4"></a>Acerca de nosotros</h1><br>
            <img src="{% static '/images/img-Nosotros.jpg' %}" alt="Foto grupal de IAMU"
                 style="width: 70%; border-radius: 5px">
            <br><br>
            <p class="col-xl-8 text-justify">
                <i>
                El Observatorio de percepciones sobre ambiente y sociedad del Ecuador, está anidado en la Sección de Manejo
                y Gestión de Recursos Naturales de la Universidad Técnica Particular de Loja. Quienes lideran la propuesta
                son docentes que junto a estudiantes de la titulación de Gestión Ambiental (modalidad presencial a distancia)
                vienen desde el año 2016 levantando datos a nivel cantonal de las cuatro regiones naturales del país.
                </i>
            </p>

            <br><br>
            <hr class="col-xl-8">
            <br>

            <div class="text-justify coordinacion" style="width: 80%">
                <center>
                    <div class="Coordinacion">
                        <h3>Coordinación</h3>
                    </div>
                </center>
                <br><br>
                <center>
                    {% for cont in list_participantes %}
                    {% if cont.TipoParticipante == 'DocenteInvestigador' %}
                    {% if cont.TipoCargo == 'Coordinacion' %}
                    {% if cont.TipoSeccion == 'Bloque_2' %}
                    <div class="container">
                        <div class="row">

                            <div class="col-xl-4" style="margin-top: 3%">
                                <img src="{{cont.img.url}}" alt="{{ cont.Nombres }} {{ cont.Apellidos }}" height="250"
                                 width="280" style="border-radius: 8px">
                            </div>
                            <div class="col-xl-8 alert alert-heading text-left">
                                <br><br>
                                <i>{{ cont.Nombres }} {{ cont.Apellidos }}</i><br>
                                <strong>{{ cont.TipoParticipante }} </strong><br>
                                <hr class="col-xl-3 text-left" style="float: left">
                                <br><br>
                            {{ cont.textoAmbitosAccion|safe }}
                                {% if user.is_superuser %}
                                <div class="col-sm-12">
                                    <a id="data2-{{ cont.idGestorContenidos}}" class="btn btn-outline-warning"
                                       href="{% url 'Contenido_edit' id=cont.idGestorParticipantes %}"
                                       style="text-decoration: none;">Editar
                                        contenido</a>
                                    <a class="btn btn-outline-danger"
                                       href="{% url 'EliminarContenido' id=cont.idGestorParticipantes %}">Eliminar
                                        contenido</a>
                                </div>
                                {% endif %}
                            </div>


                        </div>
                    </div>

                    <br>
                    <hr>
                    <br>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </center>
            </div>

            <div class="text-justify ParticipacionDocentes" style="width: 80%">

                <center>
                    <div class="docentes">
                        <h3>Participación de Docentes</h3>
                    </div>
                </center>
                <br><br>
                <center>
                    {% for cont in list_participantes %}
                    {% if cont.TipoParticipante == 'DocenteInvestigador' %}
                    {% if cont.TipoCargo == 'DocenteInvestigador' %}
                    {% if cont.TipoSeccion == 'Bloque_2' %}
                    <div class="container">
                        <div class="row">

                            <div class="col-xl-8 alert alert-heading text-right">
                                <br><br>
                                <i>{{ cont.Nombres }} {{ cont.Apellidos }}</i><br>
                                <strong>{{ cont.TipoParticipante }} </strong><br>
                                <hr class="col-xl-3 text-right" style="float: right">
                                <br><br>
                            {{ cont.textoAmbitosAccion|safe }}
                                {% if user.is_superuser %}
                                <div class="col-sm-12">
                                    <a id="data2-{{ cont.idGestorContenidos}}" class="btn btn-outline-warning"
                                       href="{% url 'Contenido_edit' id=cont.idGestorParticipantes %}"
                                       style="text-decoration: none;">Editar
                                        contenido</a>
                                    <a class="btn btn-outline-danger"
                                       href="{% url 'EliminarContenido' id=cont.idGestorParticipantes %}">Eliminar
                                        contenido</a>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-xl-4" style="margin-top: 3%">
                                <img src="{{cont.img.url}}" alt="{{ cont.Nombres }} {{ cont.Apellidos }}" height="250"
                                 width="280" style="border-radius: 8px">
                            </div>


                        </div>
                    </div>

                    <br>
                    <hr>
                    <br>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </center>
            </div>

            <div class="text-justify ParticipacionEstudiantes" style="width: 80%">

                <center>
                    <div class="Estudiantes">
                        <h3>Participación de Estudiantes</h3>
                    </div>
                </center>
                <br><br>
                <center>
                    <div class="container">
                        <div class="row">
                            {% for cont in list_participantes %}
                            {% if cont.TipoParticipante == 'Estudiantes' %}
                            {% if cont.TipoCargo == 'Estudiantes' %}
                            {% if cont.TipoSeccion == 'Bloque_2' %}
                            <br>
                            <div class="col-xl-2 alert alert-dark text-right">
                                <i>{{ cont.Nombres }} {{ cont.Apellidos }}</i><br>
                                <strong>{{ cont.TipoParticipante }} </strong><br>
                                <hr class="col-xl-3 text-right" style="float: right">
                                <br>
                                {{ cont.textoAmbitosAccion|safe }}
                                {% if user.is_superuser %}
                                <div>
                                    <a id="data2-{{ cont.idGestorContenidos}}" class="btn btn-warning"
                                       href="{% url 'Contenido_edit' id=cont.idGestorParticipantes %}"
                                       style="text-decoration: none;">Editar
                                        Cont.</a>
                                    <a class="btn btn-danger"
                                       href="{% url 'EliminarContenido' id=cont.idGestorParticipantes %}">Eliminar
                                        Cont.</a>
                                </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </center>
            </div>


        </div>

    </div>

</center>
<br><br>
{% endblock %}


