{% extends 'master.html' %}
{% block tittle %} Conócenos {% endblock %}
{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% endblock %}
{% block content1 %}
<br><br><br><br><br><br><br><br>
<center>
    <div>
        <h1>Conócenos</h1><br>

        <div class="text-justify " style="width: 80%">
            <hr>
            <strong> IAMU </strong>es un vocablo shuar que significa 'observar' y que refleja la principal motivación
            del proyecto:
            convertirse en un ‘Observatorio de Percepciones sobre Ambiente y Sociedad’, que, mediante datos anuales
            sobre las perspectivas de los ecuatorianos en temas de agua, ambiente, calidad de vida, mercados, equidad;
            y, participación y democracia pueda rescatar la visión que tienen los individuos sobre el entorno que los
            rodea.

            Para lograrlo, IAMU recoge datos de 51 cantones del Ecuador obtenidos del trabajo en conjunto entre docentes
            de la Sección de Manejo y Gestión de Recursos Naturales de la Universidad Técnica Particular de Loja y
            estudiantes de la Titulación de Gestión Ambiental modalidad Presencial y modalidad Abierta y a Distancia.
            <br><br>
            <hr><br>
            <h3>Visión</h3>

            Ser la principal fuente de datos sobre percepción y opinión pública de los ecuatorianos, fortaleciendo asi
            la vinculación con la sociedad.
            <br><br>
            <hr>
            <br>
            <h3>Misión</h3>

            Proveer datos sobre percepciones socio-ambientales que tienen los ecuatorianos sobre ambiente, agua,
            participación ciudadana, calidad de vida, mercados, equidad y etnozoología.

            La divulgación de estos datos es un deber adquirido como investigadores, por lo que se pretende que la
            información esté disponible para uso público con el fin de aportar datos relevantes en la construcción
            participativa y el monitoreo de política pública. Por ello, pedimos a los usuarios citen la información de
            la siguiente manera:

            IAMU-UTPL. 2018. Observatorio de Percepciones sobre ambiente y sociedad. https://planoss.github.io/iamu/

            Esperamos incorporar anualmente otros aspectos de percepción que involucren más temáticas tales como manejo
            de residuos, planificación territorial, etnobotánica o etnozoología.

            Con el objetivo de mejorar el observatorio, alentamos su participación para visitar la sección colabora y
            llenar alguna de las encuestas.
        </div>
    </div>
</center>
<br><br>
{% endblock %}


