{% extends 'master.html' %}
{% block tittle %} Gestor de Contenido {% endblock %}
{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% endblock %}
{% block content1 %}
<br><br><br>
<center>
    <h3 class="text-center h1 mt-5">Gestor de Contenido del Sitio</h3>
    <hr class="bg-warning mb-6">
    {% if user.is_superuser %}
    <div class="row">
        <div class="col-md-5 mx-auto"><br>
            <div class="card">
                <div class="card-body   mx-auto col-md-10 ">
                    <form method="post" class="text-left">
                        {% csrf_token %}
                        <div class="form-group" style="text-align: center">
                            <label>Titulo del contenido: <b style="color:red;">*</b>
                            </label>
                            {{ form.TituloContenido }}
                        </div>
                        <div class="form-group" style="text-align: center">
                            <label>Sub-Titulo del contenido:
                            </label>
                            {{ form.SubiTituloContenido }}
                        </div>
                        <div class="form-group" style="text-align: center">
                            <label>Tipo del contenido: <b style="color:red;">*</b>
                            </label>
                            {{ form.TipoContenido }}
                        </div>
                        <div class="form-group" style="text-align: center">
                            <label>Tipo de sección: <b style="color:red;">*</b>
                            </label>
                            {{ form.TipoSeccion }}
                        </div>
                        <div class="form-group" style="text-align: center">
                            <label>URL a la ruta de destino para redireccionar:
                            </label>
                            {{ form.urlHTML }}
                        </div>
                        <div class="form-group" style="text-align: center">
                            <label>Texto del contenido: <b style="color:red;">*</b>
                            </label>
                            {{ form.texto }}
                        </div>
                        <div class="form-group" style="text-align: center">
                            <label>Imagen contenido:</label>
                            {{ form.img }}
                        </div>
                        <br>
                        <button type="submit" class="btn btn-warning btn-block">Guardar contendio nuevo</button>
                        <br>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <br><br> <br><br>
    {% else %}
    <div class="row">
        <div class="col-md-6 mx-auto"><br><br><br>
            <div class="card">
                <div class="card-body   mx-auto col-md-10 ">
                    <div class="w3-twothird">
                        <div class="w3-container w3-card w3-white">
                            <div class="w3-container">
                                <p>Esta acción no puede ser realizar por usted</p>
                                <a class="btn btn-warning" href="{% url 'home' %}">Regresar</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% endif %}

</center>
<br><br>
{% endblock %}
