{% extends 'master.html' %}
{% block tittle %} Nueva Encuesta Preguntas {% endblock %}
% load staticfiles %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/aHref.css' %}">

{% endblock %}
{% block content1 %}
<br><br><br><br><br>
<center>
    <h2 class="w3-text-grey w3-padding-16">
        <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Creando las preguntas de
        <strong>
            <i>
                {% for cont in valorUltimo %}
                {{ cont.nombre }}
                {% endfor %}
            </i>
        </strong>
    </h2>
    <hr class="bg-warning mb-6">
    {% if user.is_superuser %}

    <div class="row">
        <div class="col-md-9 mx-auto"><br>
            <div class="card">
                <div class="card-body   mx-auto col-md-10 ">
                    <div class="w3-twothird">
                        <div class="w3-container w3-card w3-white">
                            <div class="w3-container">
                                <div class="header-pregunta">
                                    <p class="text-justify">
                                        Usted se encuentra en la encuesta creado por usted.

                                    </p>
                                    <div class="text-justify">
                                        <h6>Nombre Encuesta:</h6>
                                        <h4>
                                            <strong>
                                                <i>
                                                    {% for cont in valorUltimo %}
                                                    {{ cont.nombre }}
                                                    {% endfor %}
                                                </i>
                                            </strong>
                                        </h4>
                                        <h6>Sección Encuesta:</h6>
                                        <h4>
                                            <strong>
                                                <i>
                                                    {% for cont in valorUltimo %}
                                                    {{ cont.seccion }}
                                                    {% endfor %}
                                                </i>
                                            </strong>
                                        </h4><br>
                                    </div>
                                </div>

                                <h5 class="text-left">Sección de creación de las preguntas</h5> <br>

                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                        data-target="#collapseOne" aria-expanded="true"
                                                        aria-controls="collapseOne">
                                                    Formulario para la creación de encuestas
                                                </button>
                                            </h2>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                             data-parent="#accordionExample">
                                            <div class="card-body">
                                                <form method="post" class="text-left col-xl-6   "
                                                      enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="form-group" style="text-align: center">
                                                        <label><i><strong>Pregunta:</strong></i> <b style="color:red;">*</b>
                                                        </label>
                                                        {{ form.nombrePregunta }}
                                                    </div>

                                                    <div class="form-group" style="text-align: center">
                                                        <label><i><strong>Requerida:</strong></i> <b style="color:red;">*</b>
                                                        </label>
                                                        {{ form.requerida }}
                                                    </div>

                                                     <div class="form-group" style="text-align: center">
                                                        <label><i><strong>Tipo opcion:</strong></i> <b style="color:red;">*</b>
                                                        </label>
                                                        {{ form.tipoOpcion }}
                                                    </div>

                                                     <div class="form-group" style="text-align: center">
                                                        <label><i><strong>Pertenece a la encuesta:</strong></i> <b style="color:red;">*</b>
                                                        </label>
                                                        {{ form.idEncuesta }}
                                                    </div>
                                                    <br>
                                                    <button type="submit" class="btn btn-success btn-block">
                                                        Guardar y añadir nueva pregunta
                                                    </button>

                                                    <a class="btn btn-warning btn-block gencuestas"
                                                       href="{% url 'home' %}" onclick="myFunction(this, event)">
                                                        Terminar y no guardar más preguntas
                                                    </a>
                                                    <br>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">


                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <br>
    {% else %}

    <div class="row">
        <div class="col-md-6 mx-auto"><br><br><br>
            <div class="card">
                <div class="card-body   mx-auto col-md-10 ">
                    <div class="w3-twothird">
                        <div class="w3-container w3-card w3-white">
                            <div class="w3-container">
                                <p>Esta acción no puede ser realizar por usted</p>
                                <a class="btn btn-warning" href="{% url 'home' %}">Regresar</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% endif %}
</center>


<script>
    function myFunction(el, ev) {
        var confirm = window.confirm("Desea terminar y no guardar la última pregunta");
        if (confirm) {
            window.location.href = $(el).attr("href");
        } else {
            alert("Primero guarde y una vez vacio el formulario puede terminar la edición")
            ev.preventDefault();
        }
    }
</script>

{% endblock %}
