{% extends 'master.html' %}
{% block tittle %} Agua {% endblock %}
{% load staticfiles %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/contenidos.css' %}">
<link rel="stylesheet" href="{% static 'css/accionBotones.css' %}">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script type="text/javascript" src="{% static 'js/maps1.js' %}"></script>


<!-- highchat librerias-->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/variable-pie.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/estadisticas.css' %}">



{% endblock %}
{% block content1 %}
<br><br><br><br><br>
<center>

    <div>
        <h1> Agua</h1><br>

        <div class="text-justify " style="width: 80%">

            {% for cont in list_contenido %}
            {% if cont.TipoContenido == 'site_Agua' %}
            {% if cont.TipoSeccion == 'Bloque_1' %}
            <hr>
            <br>

            <p>{{ cont.texto|safe }}</p>
            {% if user.is_superuser %}
            <div class="col-sm-12">
                <a id="data2-{{ cont.idGestorContenidos}}" class="btn btn-outline-warning"
                   href="{% url 'Contenido_edit' id=cont.idGestorContenidos %}" style="text-decoration: none;">Editar
                    contenido</a>
                <a class="btn btn-outline-danger" href="{% url 'EliminarContenido' id=cont.idGestorContenidos %}">Eliminar
                    contenido</a>
            </div>
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
            <br>
            <hr>
            <center>
                <div>
                    <ol>
                        <i id="inicio"><i/>
                        <a href="#pregunta1" class="btn btn-outline-primary btnss" style="padding: 1.4%;border-radius: 25px"> ¿Cuántas personas viven en su hogar? </a>
                        <br><div class="col-sm-12"> <br> </div>
                        <a href="#pregunta2" class="btn btn-outline-primary btnss" style="padding: 1.4%;border-radius: 25px">Ingreso económico familiar</a>
                        <br><div class="col-sm-12"> <br> </div>
                        <a href="#pregunta3" class="btn btn-outline-primary btnss" style="padding: 1.4%;border-radius: 25px"> Servicios básicos con los que cuenta</a>
                        <br><div class="col-sm-12"> <br> </div>
                        <a href="#pregunta4" class="btn btn-outline-primary btnss" style="padding: 1.4%;border-radius: 25px"> ¿Ha escuchado alguna vez sobre el término biodiversidad? </a>
                        <br><div class="col-sm-12"> <br> </div>
                        <a href="#pregunta5" class="btn btn-outline-primary btnss" style="padding: 1.4%;border-radius: 25px"> ¿Qué cree usted que representa la mayor amenaza para la biodiversidad?</a>
                        <br><div class="col-sm-12"> <br> </div>
                        <a href="#pregunta6" class="btn btn-outline-primary btnss" style="padding: 1.4%;border-radius: 25px"> A veces el desarrollo económico resulta en el daño y destrucción de espacios naturales protegidos.</a>
                        <br><div class="col-sm-12"> <br> </div>
                    </ol>
                </div>
            </center>
        </div>
    </div>
    <hr class="col-xl-9">
    <i id="anterior1"></i>
    <!-- Grafica Pregunta 1-->
    <h2 id="pregunta1" style="color: rgba(13,17,255,0.66)"> <i>¿Cuántas personas viven en su hogar?</i></h2>
    <driv class="text-center">
        <p></p>
        <a href="#inicio" class="btn btn-outline-primary btnss" > <i class="fas fa-home"></i> Inicio</a>
        <button type="button" class="btn btn-primary">DATOS (.XLS)</button>
        <button type="button" class="btn btn-primary">DATOS (.CSV)</button>
        <button type="button" class="btn btn-primary">Opcional</button>
        <a href="#siguiente2" class="btn btn-outline-primary btnss" ><i class="fas fa-angle-right"></i></a>
    </driv>
    <br><br>
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    <br>


    <hr class="col-xl-9">
    <!-- Grafica Pregunta 2-->
    <i id="siguiente2"></i>
    <h2 id="pregunta1" style="color: rgba(13,17,255,0.66)"> <i>Ingreso económico familiar</i></h2>
    <driv class="text-center">
        <p></p>
        <a href="#anterior1" class="btn btn-outline-primary btnss" ><i class="fas fa-angle-left"></i></a>
        <button type="button" class="btn btn-primary">DATOS (.XLS)</button>
        <button type="button" class="btn btn-primary">DATOS (.CSV)</button>
        <button type="button" class="btn btn-primary">Opcional</button>
        <a href="#siguiente3" class="btn btn-outline-primary btnss" ><i class="fas fa-angle-right"></i></a>
    </driv>
    <br><br>
    <div id="container2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
    <br>

    <br>






    <!-- Script de todas las graficas para las preguntas-->
    <!--Estadisticas pregunta 1-->
    <script>
        // Build the chart
        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Número de personas que habitan en su hogar'
            },
            tooltip: {
                headerFormat: '',
                pointFormat: 'El número de personas que viven la casa esta  <strong> {point.name} personas,</strong> con un total de <strong>{point.y}</strong> </b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                minPointSize: 10,
                innerSize: '20%',
                zMin: 0,
                name: 'Brands',
                colorByPoint: true,
                data: [{
                    name: 'Entre 1 a 4',
                    y: {{ viven14.count }} ,
                    sliced: true,
                    selected: true
                }, {
                    name: 'Entre 5 a 8 ',
                    y: {{ viven58.count }}
                }, {
                    name: 'Entre 9 a 10',
                    y: {{ viven910.count }}
                }, {
                    name: 'Desconcen',
                    y: {{ vivenDes.count}}
                }]
            }]
        });
    </script>



</center>
<br><br>
{% endblock %}


