{% load staticfiles %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block tittle %} home{% endblock %} | Observatorio IAMU UTPL</title>


    <meta name="description" content="">
    <meta name="author" content=" Diego Pinto, Anthony Ortiz">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'portal/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <script src="//cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>


    <style>
        a:hover,
        a:active,
        a:focus {
          color: #f8234a;
          outline: none;
          text-decoration: none;
        }
        ol {
            text-decoration: none;
        }

    </style>

    <script>
        // Scrolling Effect

        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                document.getElementById("mainNav").style.backgroundColor = "white";
                document.getElementById("imgIAMU").style.width = "30%";
                document.getElementById("mainNav").style.borderBottom = "2px solid black";
            } else {
                document.getElementById("mainNav").style.backgroundColor = "";
                document.getElementById("mainNav").style.borderBottom = "0px solid ";
                document.getElementById("imgIAMU").style.width = "40%";
            }
        }

    </script>


</head>
{% block head %}
{% endblock %}
<body id="page-top">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}"><img
                src="{% static '/portal/img/logo-y-nombre-468x140.png' %}" alt="" width="210" id="imgIAMU"></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Componentes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'Agua_view' %}">Agua</a>
                        <a class="dropdown-item" href="{% url 'MedioAmbiente_view' %}">Medio Ambiente</a>
                        <a class="dropdown-item" href="{% url 'CalidadDeVida_view' %}">Calidad de vida</a>
                        <a class="dropdown-item" href="{% url 'Equidad_view' %}">Equidad</a>
                        <a class="dropdown-item" href="{% url 'Mercados_view' %}">Mercados</a>
                        <a class="dropdown-item" href="{% url 'ParticipacionDemocracia_view' %}">Participación y democracia</a>
                        <a class="dropdown-item" href="{% url 'Etnozoologia_view' %}">Etnozoología</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'conocenos' %}">Conócenos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Publicaciones
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'RevistasIn_view' %}">Revistas indexadas</a>
                        <a class="dropdown-item" href="#">Artículos de Divulgación</a>
                        <a class="dropdown-item" href="#">Calidad de vida</a>
                        <a class="dropdown-item" href="#">Ponencias</a>
                        <a class="dropdown-item" href="#">Tesis</a>

                    </div>
                </li>
                {% if user.is_authenticated %}

                {% if user.is_superuser %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Gestor de Contenido
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"  href="{% url 'GestorContenido' %}">Gestor de Contenido de sitios</a>
                    <a class="dropdown-item"  href="{% url 'GestorPublicacion' %}">Gestor de Publicaciones</a>
                    <a class="dropdown-item"  href="{% url 'GestorContenido' %}">Gestor de Participantes</a>
                    </div>
                </li>

                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-2" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-user"></i>
                        |
                        {{ user.username }}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Perfil</a>
                        <hr>
                        <a class="dropdown-item" href="{% url 'logout_view' %}">Salir</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              &nbsp;&nbsp;<i class="fa fa-unlock-alt"></i> &nbsp;| Cuenta
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'login' %}">Iniciar sesión</a>
                            <hr>
                            <a class="dropdown-item" href="{% url 'signup' %}">Registrarse</a>

                        </div>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

{% block content1 %}
{% endblock %}

<br>
<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 text-center" style="background-color: white; padding: 3%; color: black;border-top: 2px solid black;">
    {% block content2 %}
    {% endblock %}

    <!-- Footer Elements -->
    <div class="container">
        <div class="col-md-12 py-3" >
            <a class="fb-ic">
                <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="tw-ic">
                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="gplus-ic">
                <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="li-ic">
                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="ins-ic">
                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="pin-ic">
                <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
        </div>
    </div>
    <hr>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://github.com/diepinto30"> Diepinto30 </a> and <a href="https://github.com/AnthonyOrtiz">AnthonyOrtiz</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- Bootstrap core JavaScript -->
<script src="{% static 'portal/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'portal/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'portal/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'portal/js/grayscale.min.js' %}"></script>


<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
            slideIndex = 1
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 5000); // Change image every 2 seconds
    }
</script>
</body>
</html>
